/* Set up the basic styling and layout for the page */
body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  font-family: Arial, sans-serif;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-image: url("/image/background.jpg");
  background-size: cover;
}
/* Style for the header section */
.header {
  text-align: center;
  color: #fff;
  padding: 20px;
  background-image: url("/image/header.jpg");
  background-size: cover;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo h1 {
  margin: 0;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

nav ul li {
  margin-right: 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

.user-info {
  display: flex;
  align-items: center;
}

.avatar img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.login-logout a {
  color: #fff;
}

main {
  padding: 60px;
}

form {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  max-width: 400px;
  margin: 0 auto;
}

label {
  font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

input[type="submit"] {
  background-color: hsla(27, 43%, 52%, 0.79);
  color: white;
  border: none;
  width: 100%;
  padding: 10px 16px;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: hsla(27, 63%, 38%, 0.79);
}

/* Media query for screens up to 768px */
@media screen and (max-width: 768px) {
  main {
    padding: 30px;
  }

  form {
    max-width: 300px;
  }

  input[type="submit"] {
    padding: 8px 12px;
  }
}

/* Media query for screens between 768px and 1024px */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  main {
    padding: 40px;
  }

  form {
    max-width: 400px;
  }

  input[type="submit"] {
    padding: 10px 16px;
  }
}

/* Media query for screens larger than 1024px */
@media screen and (min-width: 1025px) {
  main {
    padding: 60px;
  }

  form {
    max-width: 500px;
  }

  input[type="submit"] {
    padding: 12px 20px;
  }
}

/*  Style for the footer */ 
.footer {
  color: #fff;
  padding: 40px 20px;
  text-align: center;
  background-image: url("/image/header.jpg");
  background-size: cover;
}

.social-media {
  display: flex;
  justify-content: center;
}

.social-media a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  margin-right: 10px;
}

.social-media img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.social-media a:hover {
  color: #bbb;
}

.grid-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex-grow: 1;
}
